Preprocessing adult.data
=====================

This script helps to preprocess `adult.data` that can be downloaded from the original [UCI Machine Learning repository](https://archive.ics.uci.edu/ml/datasets/adult).

In [1]:
from pathlib import Path

import pandas as pd

**TODO**: please configure `DATA_PATH` and `RAW_ADULT_DATASET_PATH`.

In [2]:
DATA_PATH = Path('/home/nap/Workspace/Privacy-DARC/rmckenna-adult/data')
RAW_ADULT_DATASET_PATH = DATA_PATH / Path('adult.data')
OUTPUT_ADULT_DATASET_PATH = DATA_PATH / Path('adult.csv')

COLUMN_NAMES = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
                'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
                'salary']

df = pd.read_csv(RAW_ADULT_DATASET_PATH, names=COLUMN_NAMES)
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df.sample(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
14014,20,Private,280714,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States,<=50K
2654,37,Private,185061,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,55,United-States,<=50K
18608,44,Private,219441,10th,6,Never-married,Sales,Unmarried,Other,Female,0,0,35,Dominican-Republic,<=50K
11052,39,Private,53447,HS-grad,9,Divorced,Farming-fishing,Not-in-family,White,Female,0,0,40,United-States,<=50K
18826,50,Local-gov,226497,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,52,United-States,>50K
12236,36,Private,127306,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,47,United-States,<=50K
13878,18,Private,172076,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,25,United-States,<=50K
24971,35,Private,183898,HS-grad,9,Divorced,Craft-repair,Unmarried,White,Male,2354,0,40,United-States,<=50K
27785,62,Private,84756,9th,5,Married-civ-spouse,Other-service,Husband,White,Male,0,0,35,United-States,<=50K
15443,27,Private,165365,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Asian-Pac-Islander,Male,2885,0,40,Laos,<=50K

In [3]:
df.to_csv(OUTPUT_ADULT_DATASET_PATH, index=False)